.App {
    text-align: center;
  }
  
  .App-header {
    background-color: #282c34;
    padding: 20px;
    color: white;
  }
  
  .movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .movie {
    margin: 10px;
    text-align: center;
  }
  
  .movie img {
    max-width: 100%;
  }
  